<div class="depot_form">
  <% if flash[:alert] %>
    <p id="notice"><%= flash[:alert] %></p>
  <% end %>
  <%= form_tag(@user, class: 'form-horizontal', role: "form") do %>
    
      <legend>Please Log In</legend>

      <div class="form-group">
        <%= label_tag :name, 'Name:', class: 'col-md-2 control-label' %>
        <div class="col-md-3">
        	<%= text_field_tag :name, params[:name], class: 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <%= label_tag :password, 'Password:' , class: 'col-md-2 control-label'  %>
         <div class="col-md-3">
        	<%= password_field_tag :password, params[:password], class: 'form-control'  %>
         </div>
      </div>
      <div class="form-actions">
      	<div class="col-md-offset-2 col-md-3">
      		<%= submit_tag  "Login", class: 'btn btn-primary' %>
      		<%= link_to  "Register User", new_user_path , class: 'btn btn-primary' %>
      	</div>
        
      </div>
  
  <% end %>
</div>